# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    environment:
      name: production
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}
          
          # Options
          user: hesphoros
          template: classic
          committer_branch: metrics
          config_timezone: Asia/Shanghai
          
          # Base content
          base: header, community, metadata
          base_indepth: yes

          # Languages
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: github
          plugin_languages_threshold: 0%

          # IsoCalendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # WakaTime
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          plugin_wakatime_days: 7
          plugin_wakatime_sections: time, projects, projects-graphs, languages, languages-graphs, editors, os
          plugin_wakatime_languages_other: no
          plugin_wakatime_limit: 5
          plugin_wakatime_url: https://wakatime.com
          plugin_wakatime_user: hesphoros

          # Steam
          # plugin_steam: yes
          # plugin_steam_token: ${{ secrets.STEAM_TOKEN }}
          # plugin_steam_user: "76561199533748972"
          # plugin_steam_sections: player

          # Achievements
          # plugin_achievements: yes
          # plugin_achievements_display: compact

